.menu {
  color: crimson;
  font-size: larger;
  font-weight: bolder;
}
.parrafo {
  color: darkcyan;
  font-style: italic;
}
.tituloparrafo {
  color: darkgoldenrod;
  font-weight: bolder;
  font-size: larger;
}
