/* Esto es un comentario en CSS */
body {
  background-color: lightgrey;
}
#contenedor {
  background-color: lightseagreen;
}
#cabecera {
  background-color: lightgreen;
}
#menu {
  background-color: maroon;
}
#cuerpo {
  background-color: mediumorchid;
}
#pie {
  background-color: mediumturquoise;
}
#parrafoimagen {
  background-image: url("/img/1524511502011.png");
}
/* Agregaremos un fondo de transparencia para los parrafos */
.parrafotransparencia {
  background-color: black;
  opacity: 75%;
  color: white;
}
