/* Los vinculos tiene varios estados: 
link - el valor normal
visited - cuando ya ah sido visitado
hover - cuando el cursor esta sobre el link
active - el momento justo en el que se le da click */
a.vinculo1:link {
  color: darkorange;
}
a.vinculo1:visited {
  color: darkblue;
}
a.vinculo1:hover {
  color: darkcyan;
}
a.vinculo1:active {
  color: darkmagenta;
}
a.vinculo2:link {
  text-decoration: none;
}
a.vinculo2:visited {
  text-decoration: none;
}
a.vinculo2:hover {
  text-decoration: none;
}
a.vinculo2:active {
  text-decoration: none;
}
a.vinculo3:link,
a.vinculo3:visited {
  background-color: green;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}
a.vinculo3:hover,
a.vinculo3:active {
  background-color: red;
}

a.vinculo4:link,
a.vinculo4:visited {
  background-color: royalblue;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
a.vinculo4:hover,
a.vinculo4:active {
  background-color: black;
}
