* {
  padding: 10px;
}
body {
  background-color: indianred;
}
.contenedor {
  background-color: white;
}
.parrafocolor {
  color: darkgoldenrod;
}
.parrafoderecha {
  text-align: right;
}
.parrafocentro {
  text-align: center;
}
.parrafoizquierda {
  text-align: left;
}
.parrafojustificado {
  text-align: justify;
}
.parrafosuperior {
  text-align: top;
}
.parrafomedio {
  text-align: middle;
}
.parrafoinferior {
  text-align: bottom;
}
.parrafosobrelinea {
  text-decoration: overline;
}
.parrafosubrayado {
  text-decoration: underline;
}
.parrafotachado {
  text-decoration: line-through;
}
.parrafomayuscula {
  text-transform: uppercase;
}
.parrafominuscula {
  text-transform: lowercase;
}
.parrafonombrepropio {
  text-transform: capitalize;
}
.parrafosangria {
  text-indent: 80px;
}
.parrafoespacio {
  letter-spacing: 10px;
}
.parrafoespaciocomprimido {
  letter-spacing: -2px;
}
.parrafoespaciolinea {
  line-height: 2px;
}
.parrafoespaciolineaamplio {
  line-height: 7px;
}
.parrafoespacioletra {
  word-spacing: 15px;
}
.parrafoespacioletracomprimido {
  word-spacing: -2px;
}
.parrafosombra {
  text-shadow: 2px 3px springgreen;
}
.parrafosombradifuminado {
  text-shadow: 2px 3px 5px red;
}
